* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

:root {
  --white: #f1f0ea;
  --black: #0b2027;
  --light-black: #0b202783;
  --orange: #ef8a17;
  --blue: #007bff;
  --dark-blue: #0056b3;
  --box-shadow: 1px 2px 8px 3px var(--light-black);
  --small-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --success-color: #28a745;
  --fail-color: red;
  --green: #3c6e71;
  --dark-green: #2f5557;
}
