.user-profile {
  background-color: var(--white);
  border: 1px solid var(--orange);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-style);
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.user-profile-title {
  font-size: 2em;
  color: var(--dark-green);
  text-align: center;
  margin-bottom: 20px;
}

.user-profile-item {
  font-size: 1.2rem;
  color: var(--dark-green);
  margin-bottom: 10px;
}

.user-profile-item span {
  font-weight: bold;
  color: #16a085;
}

.logout-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.logout-button:hover {
  background-color: #c0392b;
}
.logout-container {
  display: flex;
  justify-content: flex-end;
}
