.location-card {
  height: fit-content;
  width: fit-content;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s;
}

.location-card:hover {
  transform: scale(1.02);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--black);
}

.card-number {
  font-size: 1.2rem;
  margin-top: 15px;
  color: var(--orange);
}

.card-number span {
  font-size: 1rem;
  color: var(--light-black);
}

.card-btn {
  display: block;
  width: 100%;
  max-width: fit-content;
  padding: 10px 20px;
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
  text-decoration: none;
}

.card-btn:hover {
  background-color: var(--dark-green);
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .location-card {
    margin: 10px;
    padding: 15px;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-number {
    font-size: 1rem;
  }

  .card-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .location-card {
    margin: 5px;
    padding: 10px;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-number {
    font-size: 0.9rem;
  }

  .card-btn {
    padding: 6px 12px;
  }
}
