.register-form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (max-width: 650px) {
  .register-form {
    max-width: 300px;
  }
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.success-message {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: #28a745;
}

.fail-message {
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: red;
}

.register-form p {
  text-align: center;
  margin-top: 15px;
}

.register-form p a {
  color: #007bff;
  text-decoration: none;
}

.register-form p a:hover {
  text-decoration: underline;
}
